#navbar {
 height: 3.17%;
 width:  100%;
 background-color: #341f62;
 border: .5px solid #341f62;
}

.navlink, a {
  font-family: arial;
  font-weight: bold;
  color: #f36521;
  text-decoration: none;
  margin-left: 4%;
}
